$color-black: #000000;
$color-green-apple: #7ed321;
$color-white: #ffffff;
$color-bg-filter-panel: #eaeaea;
$color-filter-panel-text: #747474;
$color-filter-panel-input: #979797;
$color-jog-text: #6c6c6c;
$color-jog-text-time: #948a8a;
$color-purple: #e990f9;

$content-wide: 1440px;
$content-phone: 640px;
