@import 'src/sass/abstract/constants';

.filter-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  height: 60px;

  background-color: $color-bg-filter-panel;
  font-size: 13px;

  color: $color-filter-panel-text;;
  padding: 0 36.8%;

  &__section {
    margin: 0;
    max-width: 180px;
  }

  &__input {
    margin-left: 12px;
    width: 100px;
    height: 31px;
    border-radius: 11px;
    border: solid 1px $color-filter-panel-input;
    background-color: $color-white;
  }

  &__dnone {
    display: none;
  }

  @media screen and (max-width: $content-phone) {
    width: 328px;
    height: 60px;
    padding: 0 8%;

    &__input {
      width: 72px;
    }

    &__section {
      margin: 0;
      width: 150px;
    }
  }
}
